Repository ie3-institute/PowerSystemDataModel, pull requests merged in 2023-12, with the labels that each got.

#961 Sorting groovy imports
  CHANGELOG.md
  gradle/scripts/spotless.gradle
  src/test/groovy/edu/ie3/datamodel/io/connectors/CsvFileConnectorTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/LineInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/NodeInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/Transformer2WInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/Transformer3WInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/BmInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/ChpInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/EmInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/EvInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/EvcsInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/FixedFeedInInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/HpInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/LoadInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/PvInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/StorageInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/WecInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/typeinput/LineTypeInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/typeinput/SystemParticipantTypeInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/factory/typeinput/Transformer3WTypeInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/naming/EntityPersistenceNamingStrategyTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/naming/FileNamingStrategyTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/processor/input/InputEntityProcessorTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/processor/result/ResultEntityProcessorTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/sink/CsvFileSinkTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/sink/InfluxDbSinkIT.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/EntitySourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvDataSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvResultEntitySourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvThermalSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvTimeSeriesSourceIT.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvTimeSeriesSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvTypeSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvWeatherSourceIconTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/sql/SqlTimeSeriesSourceIT.groovy
  src/test/groovy/edu/ie3/datamodel/models/CommonVoltageLevelTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/GermanVoltageLevelUtilsTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/container/JointGridContainerTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/BmInputTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/EmInputTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/LoadInputTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/PvInputTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/type/chargingpoint/ChargingPointTypeUtilsTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/system/characteristic/CharacteristicPointTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/system/characteristic/OlmCharacteristicTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/system/characteristic/ReactivePowerCharacteristicTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/system/characteristic/WecCharacteristicTest.groovy
  src/test/groovy/edu/ie3/datamodel/utils/ContainerUtilsTest.groovy
  src/test/groovy/edu/ie3/datamodel/utils/GridAndGeoUtilsTest.groovy
  src/test/groovy/edu/ie3/datamodel/utils/validation/SystemParticipantValidationUtilsTest.groovy
  src/test/groovy/edu/ie3/datamodel/utils/validation/ValidationUtilsTest.groovy
  src/test/groovy/edu/ie3/test/common/ComplexTopology.groovy
  src/test/groovy/edu/ie3/test/common/GridTestData.groovy
  src/test/groovy/edu/ie3/test/common/ResultEntityTestData.groovy
  src/test/groovy/edu/ie3/test/common/SampleJointGrid.groovy
  src/test/groovy/edu/ie3/test/common/SystemParticipantTestData.groovy
  src/test/groovy/edu/ie3/test/common/TimeSeriesTestData.groovy
  src/test/groovy/edu/ie3/test/common/TypeTestData.groovy
  src/test/groovy/edu/ie3/test/common/WeatherTestData.groovy
Labels: code quality, test

#959 Separating em units from system participants
  CHANGELOG.md
  docs/uml/main/input/ModelContainerConcept.puml
  src/main/java/edu/ie3/datamodel/io/factory/input/participant/EmInputFactory.java
  src/main/java/edu/ie3/datamodel/io/sink/CsvFileSink.java
  src/main/java/edu/ie3/datamodel/io/source/EnergyManagementSource.java
  src/main/java/edu/ie3/datamodel/io/source/SystemParticipantSource.java
  src/main/java/edu/ie3/datamodel/io/source/csv/CsvJointGridContainerSource.java
  src/main/java/edu/ie3/datamodel/models/input/container/EnergyManagementUnits.java
  src/main/java/edu/ie3/datamodel/models/input/container/GridContainer.java
  src/main/java/edu/ie3/datamodel/models/input/container/JointGridContainer.java
  src/main/java/edu/ie3/datamodel/models/input/container/SubGridContainer.java
  src/main/java/edu/ie3/datamodel/models/input/container/SystemParticipants.java
  src/main/java/edu/ie3/datamodel/models/input/system/EmInput.java
  src/main/java/edu/ie3/datamodel/utils/ContainerNodeUpdateUtil.java
  src/main/java/edu/ie3/datamodel/utils/ContainerUtils.java
  src/main/java/edu/ie3/datamodel/utils/validation/GridContainerValidationUtils.java
  src/test/groovy/edu/ie3/datamodel/io/factory/input/participant/EmInputFactoryTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/sink/CsvFileSinkTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvEnergyManagementSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/io/source/csv/CsvSystemParticipantSourceTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/container/EnergyManagementUnitsTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/container/JointGridContainerTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/container/SystemParticipantsTest.groovy
  src/test/groovy/edu/ie3/datamodel/models/input/system/EmInputTest.groovy
  src/test/groovy/edu/ie3/datamodel/utils/ContainerUtilsTest.groovy
  src/test/groovy/edu/ie3/test/common/ComplexTopology.groovy
  src/test/groovy/edu/ie3/test/common/EnergyManagementTestData.groovy
  src/test/groovy/edu/ie3/test/common/SampleJointGrid.groovy
  src/test/groovy/edu/ie3/test/common/SystemParticipantTestData.groovy
  src/test/resources/edu/ie3/datamodel/io/source/csv/_participants/em_input.csv
Labels: model

#967 Update line documentation
  docs/readthedocs/models/input/grid/line.md
Labels: documentation
